# local package
-e .

# external requirements
click
Sphinx
awscli
flake8
pandas
scikit-learn
-U scikit-learn
numpy
tqdm
python-dotenv>=0.5.1
matplotlib
plotly
mrmr_selection
PyYAML
sklearn-genetic
lightgbm

# backwards compatibility
pathlib2
